body {
    background-color: #8C30F5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    color: #FFFFFF;
    margin-left: 10px;
}

h2 {
    font-size: 18px;
    color: #18191F;
    padding-top: 20px;
}

h4 {
    font-size: 18px;
    color: #FFFFFF;
}

.fz-14 {
    font-size: 14px;
    color: #FFFFFF;
    display: contents;
}

p {
    font-size: 14px;
    color: #18191F;
    width: 476px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
}
.cards {
    display: flex;
    justify-content: space-between;
}


.client-card {
    height: 610px;
}

.left-card,
.right-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 540px;
    min-height: 200px;
    text-align: center;
    margin: 10px;
}
.top-block {
    display: flex;
    justify-content: space-between;
}

.name-prof {
    width: 200px;
}

.card-bot {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-block {
    text-align: center;
}

@media screen and (max-width: 959px) {
    .cards {
      display: grid;
    }
  }
